{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap.min.css' %}">
<script src="{% static 'main/bootstrap.min.js' %}"></script>

<div class="container">
    <div class="row">
        <form action="/" method="POST">
            <div class="col-md6">
                {% csrf_token %}
                <input type="image" id="{{firstAnimal.id}}" name="{{firstAnimal.animal}}"
                        src="static/main/pictures/{{ firstAnimal.animal }}.jpg"/>
            </div>
            <div class="col-md6">
                {% csrf_token %}
                <input type="image" name="{{secondAnimal.animal}}"
                        src="static/main/pictures/{{ secondAnimal.animal }}.jpg"/>
            </div>
        </form>
    </div>
</div>
