{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap.min.css' %}">
<script src="{% static 'main/bootstrap.min.js' %}"></script>

<a href="{% url 'rating' %}">Top</a>

<div class="container">
    <div class="row">
        <form action="/" method="POST">
            <div class="col-md5">
                <p class="font-weight-light">{{ first_animal.animal }}</p>
                {% csrf_token %}
                <input type="image" value="{{ first_animal.id }}" name="first_animal"
                        src="static/main/pictures/{{ first_animal.animal }}.jpg"/>
            </div>
            <p class="font-weight-bold">or</p>
            <div class="col-md5">
                <p class="font-weight-light">{{ second_animal.animal }}</p>
                {% csrf_token %}
                <input type="image" value="{{ second_animal.id }}" name="second_animal"
                        src="static/main/pictures/{{ second_animal.animal }}.jpg"/>
            </div>
        </form>
    </div>
</div>
