{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap.min.css' %}">

<a href="{% url 'index' %}">Go back to votes</a>
<table class="table table-hover table-bordered" style="text-align: center">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for animal in animal_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ animal.animal }}</td>
                <td>{{ animal.rating|floatformat:-2 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>